body {
  padding-top: 130px;
  overflow:hidden;
  background-color: #4564d6;
  color: #494949
}
#trailer .modal-dialog {
  margin-top: 200px;
  width: 640px;
  height: 480px;
}
.hanging-close {
  position: relative;
  left: 250px;
  top: 20px;
  z-index: 9001;
}
#trailer-video {
  width: auto;
  height: auto;
}
.movie-tile {
  margin-bottom: 20px;
  padding-top: 20px;
  font-style:oblique;
}
.movie-tile:hover {
  background-color: #b29e7a;
  cursor: pointer;
}
.scale-media {
  padding-bottom: 56.25%;
  position: relative;
}
.scale-media iframe {
  border: none;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: blue;
}
.navbar{
  max-height: 100px;
  background-image: none;
  background-color: #494949
}
.navbar-nav li a {
  line-height: 25px;
  height: 25px;
}
.row{
padding-bottom:15px;
  padding-left:15px;
  border: 5px
}
.modal-content{
background-color: #4564d6;
}
#logo{
height: 200px;
  width: 200px;
  padding: 20px;
  top: -35px;
  left: 60px
}
